@import './theme.css/';
#root {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 2rem;
  color: var(--primary-color);
  text-align: center;
  background-color: var(--secondary-color);
}

.app-container {
  /* background-color: red; */
  width: 1000px !important;
  height: 100vh;
}